[user]
    name = vandvag
    email = vandvag@gmail.com

[init]
    defaultBranch = main

[core]
    editor = vim
    pager = delta

[alias]
    ci = commit
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all

[pull]
    rebase = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true

[merge]
    conflictStyle = zdiff3
